<!DOCTYPE HTML>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Sync Clinic</title>
  <!-- JQuery -->
  <script src="js/jquery-2.2.1.js"></script>
  <!-- bootstrap - link cdn -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- incluindo css -->
  <link href="/css/style.css" rel="stylesheet">
  <!-- favicon -->
  <link rel="shortcut icon" href="/images/favicon.ico" />
</head>

<body>
    <%-include('../partes/header')%>
    <main class="container">
        <div class="container">
         <%if(consultas.length > 0){%>
            <%consultas.forEach(consulta => {%>
                <div class="row"> <a href="/consulta?id_consulta=<%=consulta.id%>" class="card-consulta"> <div class="panel panel-default consulta_wrapper"> <h2 class="consulta_paciente">Paciente: <%= consulta.nome %> <%= consulta.sobrenome %></h2>
                    <div class="consulta_motivo_wrapper">  
                      <span class="consulta_motivo"><strong>Motivo:</strong> <%= consulta.motivo_consulta %></span>  
                    </div>  

                    <span class="consulta_data d-flex" >  
                      <span class="glyphicon glyphicon-calendar icon"></span>  
                      <span class="text-icon"><%= consulta.data_consulta.toLocaleDateString("pt-BR") %></span>  
                    </span>  

                    <span class="consulta_hora d-flex">  
                      <span class="glyphicon glyphicon-time icon"></span>  
                      <span class="text-icon"><%= consulta.hora_consulta %></span>  
                    </span>  

                    <span class="consulta_duracao d-flex">  
                      <span class="glyphicon glyphicon-hourglass icon"></span>  
                      <span class="text-icon"><%= consulta.duracao_consulta %></span>  
                    </span>  
                    <a href="" class="btn btn-danger">Apagar</a>
                  </div>  
           
                </a>  
           
              </div>
              <%})%>
         <%}%>
         

       
  
    </main>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>

</html>